/* Flat UI colors taken from https://flatuicolors.com/ and https://www.materialui.co/colors */
.red {
    background-color: #e74c3c;
}

.black {
    background-color: #212121;
}

.grey {
    background-color: #263238;
}

.darker-white {
  background-color: #f5f5f5;
}

.white-text {
    color: #fff;
}

.yellow {
  background-color: #f1c40f;
}

.purple {
  background-color: #311b92;
}

.navy {
  background-color: #2c3e50;
}

.red {
  background-color: #c0392b;
}

.green {
  background-color: #27ae60;
}
